<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QL_QUANAOConnectionString3" connectionString="Data Source=LAPTOP-NNQUL3NK\SQLEXPRESS2012;Initial Catalog=QL_QUANAO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QL_QUANAOConnectionString" connectionString="Data Source=LAPTOP-VS13VLD8;Initial Catalog=QL_QUANAO;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>